# SPDX-License-Identifier: MIT

if BOARD_LOTUS58_BLE_LEFT

config BOARD
    default "lotus58_ble_left"

config ZMK_KEYBOARD_NAME
    default "Lotus58 BLE"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # BOARD_LOTUS58_BLE_LEFT


if BOARD_LOTUS58_BLE_LEFT || BOARD_LOTUS58_BLE_RIGHT

config BOARD
    default "lotus58_ble"

config ZMK_SPLIT
    default y


if USB

config USB_NRFX
    default y

config USB_DEVICE_STACK
    default y

endif # USB

endif # BOARD_LOTUS58_BLE_LEFT || BOARD_LOTUS58_BLE_RIGHT