# Copyright (c) 2026 Oscar Brandt
# SPDX-License-Identifier: MIT

# Enables the memory protection unit.
CONFIG_ARM_MPU=y

# Enables GPIO.
CONFIG_GPIO=y

# Enables the RC oscillator of the nRF52840, since the board doesn't have an external (XTAL) one.
CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC=y
