# Copyright (c) 2026 Oscar Brandt
# SPDX-License-Identifier: MIT

# Enables the memory protection unit.
CONFIG_ARM_MPU=y

# Enables GPIO.
CONFIG_GPIO=y

# In the hardware revision v1.00, v1.10 and v1.20 the wrong crystal (32.768MHz) is listed on the BOM.
# This enables the RC oscillator of the nRF52840 as a replacement.
CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC=y

# If you replaced it with the correct one as stated by the nRF52840 datasheet (32.768KHz) you can disable the above code and enable the lines below.
# Don't forget to set the frequency stability to the value of the crystal you bought.
#CONFIG_CLOCK_CONTROL_NRF_K32SRC_XTAL=y
#CONFIG_CLOCK_CONTROL_NRF_K32SRC_20PPM=y
