# SPDX-License-Identifier: MIT

# Enables the memory protection unit.
CONFIG_ARM_MPU=y

# Enables GPIO. Not technically needed, since active by default.
CONFIG_GPIO=y

# Enables pinctrl. Not technically needed, since active by default.
CONFIG_PINCTRL=y

# Enables writing to flash.
CONFIG_USE_DT_CODE_PARTITION=y
CONFIG_MPU_ALLOW_FLASH_WRITE=y
CONFIG_NVS=y
CONFIG_SETTINGS_NVS=y
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y

# Output firmware as UF2 file.
CONFIG_BUILD_OUTPUT_UF2=y

# Enables the RC oscillator of the nRF52840. When the external crystal is fixed, this can be disabled.
CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_500PPM=y

# Uncomment to enable the external crystal on the board. Currently not used as the wrong crystal is on the board.
#CONFIG_CLOCK_CONTROL_NRF_K32SRC_XTAL=y
#CONFIG_CLOCK_CONTROL_NRF_K32SRC_20PPM=y

# Enables USB.
CONFIG_ZMK_USB=y

# Enables Bluetooth.
CONFIG_ZMK_BLE=y

# Enables the encoder.
CONFIG_EC11=y
CONFIG_EC11_TRIGGER_GLOBAL_THREAD=y

# Enables the nice!view display.
CONFIG_ZMK_DISPLAY=y

# Enables ZMK Studio support.
CONFIG_ZMK_STUDIO=y

# Enables deep sleep.
CONFIG_ZMK_SLEEP=y

# Enables n-key rollover.
CONFIG_ZMK_HID_REPORT_TYPE_NKRO=y

# Enables the underglow LEDs, sets the starting brightness to 50 percent and the starting effect to "Spectrum".
CONFIG_ZMK_RGB_UNDERGLOW=y
CONFIG_ZMK_RGB_UNDERGLOW_BRT_START=50
CONFIG_ZMK_RGB_UNDERGLOW_EFF_START=2